/* -- Main styling for fsh pages -- */

/* -- Google Fonts -- */
@font-face { /* vietnamese */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lexend/v18/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLhnepKu.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}
@font-face { /* latin-ext */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lexend/v18/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLlnepKu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}
@font-face { /* latin */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lexend/v18/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLdneg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

/* -- Colors -- */
:root {
  --bg-dim: #070707;
  --bg: #181818;
  --bg-light: #333333;

  --text: #ffffff;
  --text-dim: #bbbbbb;

  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
}

/* -- General text/background styling -- */
body {
  color: var(--text);
  font-family: 'Lexend', 'Arial';
  background-color: var(--bg);
  caret-color: transparent;
}
img, a {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
img {
  font-size: 14px;
  font-weight: normal;
}
p,h1,h2 {
  margin: 2px;
}
details {
  cursor: pointer;
}
svg {
  fill: var(--text);
  transition: 500ms;
}

/* -- Scrollbar -- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: var(--text-dim);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-light);
}

/* -- Links -- */
a {
  color: var(--sky-300);
  cursor: pointer;
}
a:hover {
  color: var(--sky-400);
}

/* -- Inputs -- */
button {
  color: var(--text);
  padding: 5px;
  font-weight: bold;
  border: 2px var(--text) solid;
  border-radius: 0.7rem;
  background-color: transparent;
  transition: 500ms;
  outline: none;
}
button:hover {
  background-color: var(--text);
  color: var(--bg);
  cursor: pointer;
}
button:hover svg {  
  fill: var(--bg);
}
input:not([type=range]), textarea {
  color: var(--text);
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
  border: 2px var(--text) solid;
  border-radius: 0.7rem;
  background-color: transparent;
  caret-color: auto;
  outline: none;
}
input[type=file]::file-selector-button {
  color: var(--text);
  font-weight: bold;
  border: 2px var(--text) solid;
  border-radius: 0.3rem;
  background-color: transparent;
  caret-color: auto;
  outline: none;
}
select {
  color: var(--text);
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
  border: 2px var(--text) solid;
  border-radius: 0.7rem;
  background-color: transparent;
  outline: none;
}
option {
  background-color: var(--bg);
}
option:disabled {
  background-color: var(--bg-dim);
}
button:focus-within, input:focus-within, textarea:focus-within, select:focus-within {
  outline: 1px solid var(--text);
}
