/* -- Main styling for fsh pages -- */

/* -- General text/background styling -- */
body {
  color: #fff;
  font-family: 'Lexend';
  background: url('/old/background.svg');
  background-size: 100%;
  background-color: #444;
  background-attachment: fixed;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Lexend.ttf) format('ttf');
}

/* -- Table styling -- */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
td, th {
  border: 2px solid #ddd;
  t-align: center;
  padding: 8px;
}
td img {
  box-shadow: 2px 2px #0008;
  border-radius: 5px;
  transition: all 0.4s linear;
}
td img:hover {
  box-shadow: 0 0 0px #000;
  transform: translateY(1px);
}
th h2 {
  margin-top: 8px;
  margin-bottom: -12px;
}
th h3 {
  margin-bottom: -12px;
}
th p {
  font-weight: normal;
}
.long {
  max-width: 90%;
}
.longg {
  max-width: 100%;
}

/* -- Button styling -- */
button {
  color: #fff;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #0000;
  transition: all 0.4s linear;
}
button:hover {
  color: #000;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  cursor: pointer;
}
button:active {
  color: #000;
  background-color: #aaa;
  box-shadow: 0 0 4px #000;
}

/* -- Scrollbar -- */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #eee;
  background-color: #333;
}
::-webkit-scrollbar-thumb {
  background: #665166;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}

/* -- Links -- */
a {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a:link {
  color: #a8f;
}
a:visited {
  color: #8af;
}
a:hover {
  color: #88f;
}
a:active {
  color: #55a;
}

/* -- Width -- */
.full {
  width: 100%;
}
.mid {
  width: 100px;
}
.small {
  width: 50px;
}

/* -- Footer -- */
.container {
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
  font-size: 18px;
}

/* -- Input -- */
input {
  color: #fff;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #0000;
}
select {
  color: #fff;
  padding: 5px;
  margin: 5px;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #0000;
}
option {
  background-color: #444;
}
option:disabled {
  background-color: #bbb;
}