/* -- Main styling for fsh pages -- */

/* -- Vars -- */
:root {
  --bg-0: #0c0c0c;
  --bg-1: #181818;
  --bg-2: #252525;
  --bg-3: #333333;
  --bg-4: #595959;

  --text-0: #ffffff;
  --text-1: #dddddd;
  --text-2: #bbbbbb;
  --text-3: #888888;

  --black-1: #666;
  --black-2: #222;

  --white-1: #ddd;
  --white-2: #bbb;

  --red-1: #d66;
  --red-2: #b22;

  --yellow-1: #dd6;
  --yellow-2: #bb2;

  --green-1: #6d6;
  --green-2: #2b2;

  --aqua-1: #6dd;
  --aqua-2: #4bb;

  --blue-1: #66d;
  --blue-2: #22b;

  --purple-1: #d6d;
  --purple-2: #b2b;
}

/* -- Fonts -- */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Lexend.ttf) format('ttf');
}

/* -- General styling -- */
body {
  color: var(--text-1);
  background-color: var(--bg-1);
  font-family: Lexend, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  caret-color: transparent;
}
h1, h2, p {
  margin: 2px;
}
h3, h4, h5, h6 {
  margin-bottom: 2px;
  margin-top: 1em;
}
img {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
svg {
  fill: var(--text-1);
  stroke: var(--text-1);
  transition: 500ms;
}
summary {
  cursor: pointer;
}
ul, ol {
  margin: 0px;
  padding-left: 25px;
}
li {
  margin: 2px;
}
@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

/* -- Dialogs -- */
dialog {
  padding: 10px;
  color: var(--text-1);
  border-radius: 1rem;
  background-color: var(--bg-1);
  border: 2px var(--text-1) solid;
}
::backdrop {
  backdrop-filter: blur(2px);
}

/* -- Scrollbar -- */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: inherit, var(--bg-1);
}
::-webkit-scrollbar-corner {
  background: inherit, var(--bg-1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--text-3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-3);
}

/* -- Fsh ownership title -- */
.title {
  font-size: 250%;
  color: var(--text-0);
}
a:has(.title) {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-inline: auto;
}
.title h1 {
  margin: 0px;
  font-weight: normal;
  margin-top: -12px;
}

/* -- Links -- */
a {
  cursor: pointer;
  color: var(--aqua-1);
  transition: color 250ms ease;
}
a:hover {
  color: var(--aqua-2);
}

/* -- Inputs -- */
button {
  cursor: pointer;
  font-size: 80%;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-1);
  padding: 5px;
  outline: none;
  border: 2px var(--text-1) solid;
  border-radius: 0.5rem;
  transition: 500ms;
  background-color: transparent;
}
button[disabled] {
  cursor: not-allowed;
  color: var(--text-3);
  border: 2px var(--text-3) solid;
}
button:not([disabled]):hover {
  color: var(--bg-1);
  background-color: var(--text-1);
}
button:not([disabled]):hover svg {
  fill: var(--bg-1);
  stroke: var(--bg-1);
}
input:not([type=range]), textarea, select {
  margin: 5px;
  padding: 5px;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  caret-color: auto;
  color: var(--text-1);
  border-radius: 0.75rem;
  border: 2px var(--text-1) solid;
  background-color: transparent;
}
input[type=color] {
  padding: 0;
}
input[type=file]::file-selector-button {
  outline: none;
  font-weight: bold;
  caret-color: auto;
  color: var(--text-1);
  border-radius: 0.25rem;
  border: 2px var(--text-1) solid;
  background-color: transparent;
}
select {
  cursor: pointer;
  padding: 2px;
  border-radius: 0.5rem;
}
option {
  background-color: var(--bg-1);
}
option:disabled {
  background-color: var(--bg-0);
}
button:focus-within, input:focus-within, textarea:focus-within, select:focus-within {
  outline: 1px solid var(--text-0);
}
